body {
  font-family: Arial, sans-serif;
  background-color: #1bb6dd;
  height: 100vh; 
  display: flex;
  justify-content: center; 
  align-items: center;     
  min-height: 100vh; 
  margin: 0;
  padding: 20px;
}

.caixa1 {
  background-color: white;
  width: 80%;          
  max-width: 600px;   
  min-height: 200px;   
  border: 2px solid #333;
  border-radius: 15px;
  padding: 20px 30px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  text-align: center;
  max-width: 400px;
  position: relative;
 
}

#pagina2 h1 {
  text-align: center;
  margin-bottom: 20px; 
  color: #333;
  font-size: 24px;
  word-wrap: break-word; 
}

.caixa1 h1 {
  color: #333;
  margin-bottom: 10px;
  line-height: 1.6;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #444;
}

input[type="text"],
input[type="tel"] {
  padding: 10px; 
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px; 
  transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus,
input[type="tel"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.3);
  outline: none;
}

input[type="submit"],
input[type="reset"] {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

input[type="reset"] {
  background-color: #dc3545;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

input[type="reset"]:hover {
  background-color: #b02a37;
}

a {
  text-decoration: none; 
  color: #ff0000;        
  font-weight: bold;
  cursor: pointer;
  position: absolute; 
  top: 40px;          
  right: 30px; 
}

a:hover {
  color: #0056b3;       
  text-decoration: underline;
}


